@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Underdog&display=swap');

/*MINIMUM CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixe;
}

/* HEADER */

header {
    position: relative;
    
}

/*CONTAINER*/

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*FLEX*/

.flex {
    display: flex;
    flex-wrap: wrap;

}

.static {

    text-align: center;
 }

 .margin {
    margin: auto;
 }

.content {
    justify-content: flex-end;
}
.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

/*TITRES*/

h1 {
    font-family: "Underdog", system-ui;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    color: white;
}

h2 {
    font-family: "Underdog", system-ui;
    font-weight: 600;
    font-style: normal;
    color: white;
}

h3 {
    font-family: "Underdog", system-ui;
    font-weight: 600;
    font-style: normal;
    color: white;
}

a {
    text-decoration: none;
}

.w15 {
    width: 15%;
}

.w25 {
    width: 25%;
}

.w36 {
    width: 36%;
}

.w50 {
    width: 50%;
}

.w45 {
    width: 45%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

/*COULEURS*/

.black {
    color: black;
}

p {
    color: white;
    font-family: "Underdog", system-ui
}

.white {
    color: white;
}

.background {
    background-color: #251c31;

}

.rigolo {
    color: aquamarine;
}

.headergroup {
    background-color: #251C31;
    width: 100%;

}

.bgred {
    background-color: red;
}

.bgblue {
    background-color: blue;
}


/*POSITIONS*/

.sticky {
    position: sticky;
    position: fixed;
    background-color: #6333973e;
    height: 261;
    top: 228px;
    left: 80px;
    padding-top: 28px;
    padding-right: 46px;
    padding-bottom: 28px;
    padding-left: 46px;
    gap: 27px;
border-radius: 30px;
}

.bouton {
    width: 281;
height: 53;
top: 591px;
left: 493px;
padding-top: 12px;
padding-right: 29px;
padding-bottom: 12px;
padding-left: 29px;
gap: 10px;
}


/* HERO */
.hero {
    height: 70vh;
}

.carte {
    background-color: #F9F9F9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .carte:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.703);
  }
  .carteimg {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
  }
  .carte h3 {
    font-size: 1.4rem;
    margin: 15px;
  }
  .carte p {
    font-size: 1rem;
    padding: 0 15px 20px 15px;
    color: #666;
  }


.paddingsticky {
    padding-top: 25px;
    padding-left: 25px;
}

.image1 {
    width: 344;
height: 462;
top: 888px;
left: 497px;
}

.image2 {
    width: 344;
height: 216;
top: 888px;
left: 879px;
}

.image3 {
    width: 344;
height: 216;
top: 888px;
left: 1262px;

}

.image4 {
    width: 727;
    height: 216;
    top: 1134px;
    left: 879px;
}

.top {
    margin-top: 25px;
    margin-left: 30px;
    transform: translate(100px);
}

.textCenter {
    text-align: center;
}

.font-Accueil {
    font-family: "Rubik Mono One", monospace;
    font-weight: 700;
    font-style: initial;
}

.sectionServices {
    position: relative;

}

.bottom {
    margin-bottom: 20px;
}

.float {
    float: right;
}

.blur {
    backdrop-filter: blur(5px);
}

/*FOOTER*/

.footer {
    background-color: #633397;
}